/* GameCard component style */

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-cheese);
  align-items: center;
  min-height: 300px;
  border-radius: 8px;
  gap: 2rem;
}

.card-image {
  padding: 6rem;
  border-radius: 8px;
  background-color: var(--color-tomato);
}

.card-name {
  color: var(--color-crust);
  font-size: 1.25rem;
}
